<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <!-- Register Bean -->
    <bean id="log" class="com.entity.Register">
        <constructor-arg index="0" value="12" />
        <constructor-arg index="1" value="Abhijeet" />
        <constructor-arg index="2" value="Pune" />
        <constructor-arg index="3" value="abhi23@gmail.com" />
        <constructor-arg index="4" value="375672" />
        <constructor-arg index="5" value="8724687647" />
        <constructor-arg index="6" value="834757646574" />
        <constructor-arg index="7" ref="r" />
    </bean>

    <!-- Login Bean -->
    <bean id="r" class="com.entity.Login">
        <constructor-arg index="0" value="65" />
        <constructor-arg index="1" value="abhi344@gmail.com" />
        <constructor-arg index="2" value="6127" />
    </bean>

</beans>
